* {
  box-sizing: border-box;
}

body{
    margin: 0;
    background-image: url(images/header.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff
    
}

header{
    background-image: url(images/border2.jpg);
    text-align: center;
    width: 100%;
    height: auto;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
    border-radius: 0 0 85% 85%; 
    
}
header .overlay{
    width: 100%;
    height: 100%;
    padding: 50px;
    color:#fff;
    text-shadow: 1px 1px 1px #333;
    background: linear-gradient(135deg, #07ecb349 10%, #3b32b86b 100%);

}
h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 80px;
    margin-bottom: 30px;

}
h2, p{
    font-family: sans-serif;
    margin-bottom: 30px;

}



  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100px;
    
  }
  
  li a {
    display: block;
    color: #fff;
    padding: 8px 8px;
    text-decoration: none;
  }
  
  
  li a:hover {
    background-color: #555;
    color: white;
  }

  form {
    
    margin: 0 auto;
    width: 400px;
    
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  form li + li {
    margin-top: 1em;
  }
  
  label {
    
    display: inline-block;
    width: 90px;
    text-align: right;
  }
  
  input, 
  textarea {
   
    font: 1em sans-serif;
  
    
    width: 300px;
    box-sizing: border-box;
  
    
    border: 1px solid #999;
  }
  
  input:focus, 
  textarea:focus {
    
    border-color: #000;
  }
  
  textarea {
    
    vertical-align: top;
  
    
    height: 5em;
  }
  
  .button {
   
    padding-left: 90px; 
  }
  
  button {
    
    margin-left: .5em;
  }

  h3 {
      text-align: center;
  }

  h1 {
    text-align: center;
  }
  

  /* start of slide */

  .row > .column {
    padding: 0 8px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Creating the columns  */
  .column {
    float: left;
    width: 50%;
  }
  
  /* Background for modal */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: lightblue
  }
  
  /* content for the modal */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
  }
  
  /* button close */
  .close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Hide the slides by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/4 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Caption text */
  .caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
  }
  
  img.demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
  
  img.hover-shadow {
    transition: 0.3s;
  }
  
  .hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }









